@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-light: hsl(var(--heroui-primary));
  --toastify-color-progress-dark: hsl(var(--heroui-primary));
  --toastify-color-progress-success: hsl(var(--heroui-success));
  --toastify-icon-color-success: hsl(var(--heroui-success));
  --toastify-color-progress-warning: hsl(var(--heroui-warning));
  --toastify-icon-color-warning: hsl(var(--heroui-warning));
  --toastify-color-progress-error: hsl(var(--heroui-danger));
  --toastify-icon-color-error: hsl(var(--heroui-danger));
  --toastify-toast-background: hsl(var(--heroui-background));
  --toastify-text-color-light: hsl(var(--heroui-foreground));
  --toastify-text-color-dark: hsl(var(--heroui-foreground));
  --toastify-color-progress-light: hsl(var(--heroui-primary));
  --toastify-color-progress-dark: hsl(var(--heroui-primary));
  --toastify-color-light: hsl(var(--heroui-background));
  --toastify-color-dark: hsl(var(--heroui-background));
}


body {
  color: var(--foreground);
  background: var(--background);
}
