#* API
NEXT_PUBLIC_API_URL=http://localhost:3001

#* Database
DATABASE_PRISMA_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
DATABASE_URL_NON_POOLING="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

#* Environment
ENV=development
NEXT_PUBLIC_ENV=development